// .edit_site {
//     display: grid;
// }

// .theme-builder-nav {
//     background-color: #dfe8ec;
//     display: grid;
// }

// .step2 #names {
//     display: inline;
// }

// 
.gallery_container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;

    .horizontal {
        grid-column: span 2;
    }

    .vertical {
        grid-row: span 2;
    }

    .big {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.hero_section {
    // background image styling and defaults
    background-size: cover;
    background-color: grey;
    background-blend-mode: lighten;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 600px) {
  .hero_section {
    padding-top: 200px;
    padding-bottom: 200px;    
  }

}

